# General
temp
build.config

# Flash Builder
actionscript/bin
actionscript/bin
.actionScriptProperties
.flexLibProperties

# Eclipse
.settings
.project

# Android
android/build
android/bin
android/gen
android/lint.xml
.classpath
proguard-project.txt
project.properties

# Gradle
.gradle

# Xcode
xcuserdata

# OS X
Icon
Thumbs.db
.DS_Store

*.idea
*.iml
/out
/bin

local.properties
ios/build

actionscript/src/com/freshplanet/ane/FPExtensionContext\.as

actionscript/src/com/freshplanet/ane/IFPExtension\.as

android/full_libs/

build/makeAndroidPlatformXML\.sh

build/makeExtensionXML\.sh

build/makeIosPlatformXML\.sh

build/platform-android-template\.xml
