# General
temp
build.config

# Flash Builder
actionscript/bin
.actionScriptProperties
.flexLibProperties
bin-debug
libs

# Eclipse
.settings
.project

# Android
android/bin
android/gen
android/lint.xml
.classpath
proguard-project.txt
project.properties

# Xcode
xcuserdata

# OS X
Icon
Thumbs.db
.DS_Store

# FlashDevelop project files
*.bat
*.as3proj
AIR_Android_readme.txt
AIR_iOS_readme.txt
icons
bat
bin
lib
obj
ane
cert
