<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freshplanet.natExt"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application android:label="AirFacebook" >
        <activity android:name=".FBLoginActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity android:name=".FBDialogActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity android:name="com.freshplanet.ane.AirFacebook.ExtendAccessTokenActivity"></activity>
    </application>

</manifest>